.footer {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    position: relative;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 30px 50px;
    gap: 10%;
}

.footer-info img {
    width: 80%;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact h2 {
    font-size: 32px;
    font-weight: bold;
}

.contact span {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.footer-form {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 40%;
    background-color: #ba9e00;
    padding: 20px 60px;
    color: #fff;
    border-radius: 100px 0;
}

.footer-form h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.footer-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input {
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.contact-form textarea {
    min-height: 80px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.privacy-accept {    
    margin-bottom: 10px;
}

.privacy-accept span{
    font-size: 16px;
}

.privacy-accept a {
    text-decoration: none;
    color: #000;
}

.privacy-accept a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.submit {
    background-color: #f0e9bd;
    color: #000;
    border: none;
    border-radius: 100px;
    min-height: 40px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.submit:hover {
    background-color: #e2d898;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
    background-color: #ba9e00;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
}

.footer-copyright::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
}

.footer-copyright::before {
  animation: shimmer 2.4s forwards infinite;
}

@keyframes shimmer {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

.validation_err {
    color: darkred;
    font-size: 14px;
    font-style: italic;
    margin-left: 5px;
}