.navbar {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    height: 80px;
    position: fixed;
    background-color: white;
    z-index: 10;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.logo {
    width: 12vw;
}

.links {
    display: flex;
    gap: 50px;
}

.links a:hover {
    color: #DAA520;
}

.nav_buttons {
    display: flex;
    gap: 20px;
}